<HR WIDTH="95%">
<TABLE ALIGN="CENTER" BORDER=0 WIDTH="95%">
  <TR>
    <TD WIDTH="30%" ALIGN="LEFT">
	<A HREF="<%PREV_FILE%>">Prev</A>
	<A HREF="<%NEXT_FILE%>">Next</A>
	<A HREF="<%INDEX%>">Index</A>
    <TD ALIGN="CENTER">
	<IMG SRC="images/stem_tide.gif"><BR>
    <TD WIDTH="25%" ALIGN="RIGHT">Page <%PAGE_NUM%>/<%TOTAL_PAGES%>
  </TR>

  <TR>
    <TD ALIGN="CENTER" COLSPAN="3">
	<FONT SIZE="-2">&copy; 2002 Stem Systems</FONT>
  </TR>

</TABLE>
</HTML>